div.card {
  text-align: center;
  position: relative;
}

.card img {
  border-radius: 3em;
  width: 500px;
}

.card .card-text {
  position: absolute;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  top: 80%;
  right: 30%;
  left: 30%;
  z-index: 1000;
  background-color: black;
  background-size: cover;

  -webkit-mask-image: -webkit-gradient(
    linear, center top, center bottom, 
    color-stop(0.00,  rgba(0,0,0,0.2)),
    color-stop(0.35,  rgba(0,0,0,0.4)),
    color-stop(0.50,  rgba(0,0,0,0.6)),
    color-stop(0.65,  rgba(0,0,0,0.8)),
    color-stop(1.00,  rgba(0,0,0,0.8)));
}